/*
colors used:
darker green - #95ab73
lighter green - #c7e49a
background - white
texts - black
*/

body {font-size: 100%; background-color: #fff;}    

/*text*/
p, ul, ol, dl {font-size: 0.8em; font-family: verdana, arial, sans-serif; color: #000;}

h1 {font-size: 2.1em;}

h2 {font-size: 1.75em;}

h3 {font-size: 1.5em;}

#container
{
	max-width: 800px;
	min-width: 500px;
	margin: -10px auto -10px auto;
	overflow: auto;
	border-left: solid 2px #95ab73;
	border-right: solid 2px #c7e49a;
}

/*header start*/
#header
{
    background-image: url('pics/header.jpg');
    background-repeat: no-repeat;
    /*background-size: contain;*/
    max-width: 780px;
    max-height: 218px;
    padding: 10px;
    margin-top: -10px;
    border-bottom: 2px solid #95ab73;
    clear: both;
}

#header h1
{
    margin-right: 10px;
    margin-top: 175px;
}

#header h2
{
    margin-right: -5px;
}

#header h1, #header h2
{
    text-align: right;
    line-height: 30%;
}
/*header end*/

/*navigation start*/
#navigation
{
    width: 145px;
    margin-right: -150px;
    float: left;
    padding-right: 5px;
    position: relative;
}

.nav
{
    width: 145px;
    list-style: none;
    text-align: left;
    display: block;
	line-height: 30px;
    background-color: #95ab73;
    padding-left: 0;
}

/*navigation links*/
.current
{
    font-weight: bolder;
}

.nav a:link, .nav a:visited
{
    color: black;
    text-decoration: none;
    display: block;
    border-bottom: solid 2px white;
    padding-left: 5px;
}

.nav a:focus
{
    text-decoration: underline;
}

.nav a:hover
{
    background-color: #c7e49a;
}

.nav a:active
{
    background-color: white;
}
/*navigation end*/

/*wrapper*/
#wrapper
{
    width: 100%;
    float: left;
}

/*content start*/
#content
{
    margin-left: 150px;
    margin-right: 10px;
    padding: 0 0 20px 10px;
    border-left: 2px solid #c7e49a;
}
 /*content titles*/
#content h2, #content h3
{
    margin-top:20px;
    margin-bottom:0;
}

/*content text*/
#content p
{
    line-height: 140%;
}

/*content lists*/
#content ul, #content ol, #content dl
{
    line-height: 150%;
}

/*content links*/
#content a:link
{
    color: #95ab73;
    text-decoration: none;
    font-weight: bold;
}

#content a:visited
{
    color: #95ab73;
    font-weight: bold;
}

#content a:focus
{
    text-decoration: underline;
}

#content a:hover
{
    color: #c7e49a;
}

#content a:active
{
    color: #FFFFFF;
}
/*content end*/

/*footer start*/
#footer
{
    max-width: 790px;
    background: #c7e49a;
    text-align: right;
    padding-right: 10px;
    display: block;
    clear: both;
}

/*footer links*/
#footer a:link
{
    color: #95ab73;
    display: block;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: bold;
}

#footer a:visited
{
    color: #95ab73;
    font-weight: bold;
}

#footer a:focus
{
    text-decoration: underline;
}

#footer a:hover
{
    color: #ffffff;
}

#footer a:active
{
    color: #c7e49a;
}
/*footer end*/

/*titles laborationer*/
.labb h2, .labb h3
{
    border-bottom: solid 1px #95ab73;
    display: inline;
    line-height: 200%;
}

/*posts start*/
.post
{
    overflow-y: hidden;
}

/*post titles*/
.post h3
{
    background: url('pics/rubriklogo.png') left center no-repeat #c7e49a;
    padding-left: 30px;
    border-bottom: solid 1px #95ab73;
}

/*post dates*/
.post-footer
{
    text-align: right;
    border-top: solid 1px #c7e49a;
    border-bottom: solid 1px #95ab73;
    clear: both;
    height: 1.1em;
}

.post-footer p
{
    margin: 2px;
}

/*images and videos*/
.right
{
    float: right;
    margin: 10px 0 10px 0.5em;
}

.left
{
    float: left;
    margin: 10px 0.5em 10px 0;
}

.rightBorder
{
    background-color: #123414;
    float: right;
    margin: 10px 0 10px 0.5em;
    border: outset 5px #c7e49a;
}

.leftBorder
{
    float: left;
    margin: 10px 0.5em 10px 0;
    border: outset 5px #c7e49a;
}
/*posts end*/

/*table start*/
table
{
    border: outset 5px #c7e49a;
    text-align: left;
}

th
{
    background-color: #95ab73;
}

.tbody
{
    background-color: #c7e49a;
}

.tbody td
{
    border: solid 1px #95ab73;
    font-size: 0.8em;
    line-height: 150%;
    font-family: verdana, arial, sans-serif;
}

.tfoot
{
    border: solid 1px #c7e49a;
    text-align: center;
}
/*table end*/

/*form start*/

/*form1*/
#form1
{
    border: outset 3px #c7e49a;
    margin-top: 10px;
}

#form1 label
{
    width: 75px;
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    text-align: right;
    padding: 0 5px 5px 0;
    display: block;
    float: left;
    clear: left;
}

#form1 input, #form1 textarea
{
    border: solid 1px #95ab73;
    margin-bottom: 5px;
}

#form1 input
{
    width: 200px;
}

#form1 textarea
{
    width: 500px;
    height: 200px;
}

/*form2*/
#form2
{
    border: outset 3px #c7e49a;
    margin: 10px 0 10px 0;
}

#form2 label
{
    width: auto;
    font-family: verdana, arial, sans-serif;
    font-size: 0.8em;
    text-align: left;
    margin: 5px 5px -15px 0;
    line-height: 100%;
    display: block;
    float: left;
    clear: left;
}

#form2 select
{
    margin-bottom: 15px;
    border: solid 1px #95ab73;
}

#form2 input
{
    margin-top: 10px;
}
/*form end*/
















