/*text*/
body {font-size: 1em;}    

p, ul, ol, dl {font-size: 0.8em; font-family: verdana, arial, sans-serif;}

h1 {font-size: 2.1em;}

h2 {font-size: 1.75em;}

h3 {font-size: 1.5em;}

#container
{
	width: 800px;
	margin: auto;
}

#header
{
    background-image: url('pics/logotyp.png');
    background-position: left center;
    background-repeat: no-repeat;
    width: 620;
    padding: 10px;
    padding-left: 160px;
    border-bottom: 2px solid #824180;
}

/*navigation start*/
#navigation
{
    width: 145px;
    float: left;
    padding-right: 5px;
}

.nav
{
    list-style: none;
    text-align: left;
    display: block;
	line-height: 30px;
    background-color: #824180;
    padding-left: 0;
}

/*navigation links*/
.current
{
    font-weight: bolder;
}

.nav a:link, .nav a:visited
{
    color: black;
    text-decoration: none;
    display: block;
    border-bottom: solid 2px white;
    padding-left: 5px;
}

.nav a:focus
{
    text-decoration: underline;
}

.nav a:hover
{
    background-color: #f2c2e8;
}

.nav a:active
{
    background-color: white;
}
/*navigation end*/

/*content start*/
#content
{
    width: 626px;
    float: left;
    padding: 0 10px 50px 10px;
    border-left: 2px solid #824180;
    margin-top: 10px;
}
 /*content titles*/
#content h2, #content h3
{
    margin-top:20px;
    margin-bottom:0;
}

/*content text*/
#content p
{
    line-height: 120%;
}

/*content lists*/
#content ul, #content ol, #content dl
{
    line-height: 150%;
}

/*content links*/
#content a:link
{
    color: #824180;
    text-decoration: none;
    font-weight: bold;
}

#content a:visited
{
    color: #824180;
    font-weight: bold;
}

#content a:focus
{
    text-decoration: underline;
}

#content a:hover
{
    color: #f2c2e8;
}

#content a:active
{
    color: #FFFFFF;
}
/*content end*/

/*footer start*/
#footer
{
    width: 800;
    text-align: right;
}

/*footer links*/
#footer a:link
{
    color: #824180;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: bold;
}

#footer a:visited
{
    color: #824180;
    font-weight: bold;
}

#footer a:focus
{
    text-decoration: underline;
}

#footer a:hover
{
    color: #f2c2e8;
}

#footer a:active
{
    color: #FFFFFF;
}
/*footer end*/

/*titles index*/
.post h3
{
    background: url('pics/rubriklogo.png') left center no-repeat #f2c2e8;
    padding-left: 30px;
    border-bottom: solid 1px #824180;
}

/*titles laborationer*/
.labb h2, .labb h3
{
    border-bottom: solid 1px #824180;
    display: inline;
    line-height: 200%;
}

/*post dates*/
.post-footer
{
    text-align: right;
    border-top: solid 1px #f2c2e8;
    border-bottom: solid 1px #824180;
}

/*image and video position*/
.right
{
    float: right;
    margin: 5px 0 5px 0.5em;
}

.left
{
    float: left;
    margin: 5px 0.5em 5px 0;
}





